<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Directives</title>
</head>
<body>
	<ul>
		<li><a href="ng-app.html">ng-app: bootstrap the framework</a></li>
		<li><a href="ng-controller.html">ng-controller: share the same scope to the view and work together</a></li>
		<li><a href="ng-bind.html">ng-bind: catch the var in the scope to function and put them in html and vice-versa</a></li>
		<li><a href="#">ng-bind-html: the same functionality that ng-bind but bind a string of raw HTML</a></li>
		<li><a href="ng-repeat.html">ng-repeat: used to iterate arrays and objects</a></li>
		<li><a href="ng-model.html">ng-model: attaches the element to a property in the scope</a></li>
		<li><a href="ng-click.html">ng-click: Bind any custom behavior to the click event of the element </a></li>
		<li><a href="ng-disable.html">ng-disable: Disable the element based on the bollen value of an expression </a></li>
		<li><a href="ng-class.html">ng-class: Dynamically apply a class to an element by providing the name of the class in a data-binds expression </a></li>
		<li><a href="ng-options.html">ng-options: used to create the options of a select element </a></li>
		<li><a href="ng-show-hide.html">ng-show and ng-hide: changes the visibility of an element based on its display property </a></li>
		<li><a href="#">ng-if: Prevents the rendering of an element in our template</a></li>
		<li><a href="#">ng-include: Inclde ither external HTML fragments in our pages</a></li>
	</ul>
	
	<h4>Creating our own directives</h4>
	<ul>
		<li><a href="#">Alert components</a></li>
		<li><a href="#"></a></li>
		<li><a href="#"></a></li>
		<li><a href="#"></a></li>
	</ul>
</body>
</html>