<!DOCTYPE html>
<!-- ng-app declaramos o modulo a ser utilizado, pode ser passada sem parametro nenhum-->
<!-- para utilizar determinado modulo na aplicação devemos passa-lo como parametro-->
<html lang="pt-br" ng-app="parking">
<head>
	<meta charset="UTF-8">
	<title>Parking Lot</title>
	<script src="angular.js" type="text/javascript"></script>
	<script type="text/javascript">
		// declaramos o nome do modulo
		var parking = angular.module("parking", []);

		// declarando o controller no MODULO PARKING
		parking.controller("parkingCtrl", function ($scope){
			$scope.appTitle = "[Packt] Parking";
			$scope.names = "TESTE";
		});
	</script>
</head>
<body ng-controller="parkingCtrl">
	<h3 ng-bind="appTitle"></h3>
	<input type="text" ng-model="appTitle">
</body>
</html>