<!DOCTYPE html>
<!-- ng-app declaramos o modulo a ser utilizado, pode ser passada sem parametro nenhum-->
<!-- para utilizar determinado modulo na aplicação devemos passa-lo como parametro-->
<html lang="pt-br" ng-app="parking">
<head>
	<meta charset="UTF-8">
	<title>Parking Lot</title>
	<script src="angular.js" type="text/javascript"></script>
	<script type="text/javascript">
		// declaramos o nome do modulo
		var parking = angular.module("parking", []);

		// declarando o controller no MODULO PARKING
		parking.controller("parkingCtrl", function ($scope){
			$scope.appTitle = "[Packt] Parking";
			$scope.cars = [
			];

			$scope.park = function(car){
				car.entrance = new Date();
				$scope.cars.push(car);
				delete $scope.car;
			};
		});
	</script>
</head>
<body ng-controller="parkingCtrl">
	<h3 ng-bind="appTitle"></h3>
	<h3>Iterate use (variable in array):</h3>
	<table>
		<thead>
			<tr>
				<th>Plate</th>
				<th>Entrance</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="car in cars">
				<td><span ng-bind="car.plate"></span></td>
				<td><span ng-bind="car.entrance"></span></td>
			</tr>
		</tbody>
	</table>
	<input type="text" ng-model="car.plate" placeholder="What's the plate?">
	<button ng-click="park(car)">Park</button>
	

	<h3>Outras diretivas com comportamento parecido:</h3>
	ngBlur, ngChange, ngCopy, ngCut, ngDblClick, ngFocus, ngKeyPress, ngKeyDown, ngKeyUp, ngMousedown, ngMouseenter, ngMouseleave, ngMousemove, ngMouseover, ngMouseup, and ngPaste.
</body>
</html>