<!DOCTYPE html>
<!-- ng-app declaramos o modulo a ser utilizado, pode ser passada sem parametro nenhum-->
<!-- para utilizar determinado modulo na aplicação devemos passa-lo como parametro-->
<html lang="pt-br" ng-app="parking">
<head>
	<meta charset="UTF-8">
	<title>Parking Lot</title>
	<script src="angular.js" type="text/javascript"></script>
	<script type="text/javascript">
		// declaramos o nome do modulo
		var parking = angular.module("parking", []);

		// declarando o controller no MODULO PARKING
		parking.controller("parkingCtrl", function ($scope){
			$scope.appTitle = "[Packt] Parking";
			$scope.cars = [
			];

			$scope.colors = ["White", "Black", "Blue", "Red", "Silver"];

			$scope.park = function(car){
				car.entrance = new Date();
				$scope.cars.push(car);
				delete $scope.car;
			};
		});
	</script>
	<style type="text/css">
		.selected {
			background-color: #FAFAD2;
		}

		.base-class {
		  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
		}

		.base-class.my-class {
		  color: red;
		  font-size:3em;
		}
	</style>
</head>
<body ng-controller="parkingCtrl">
	<h3 ng-bind="appTitle"></h3>
	<h3>Iterate use (variable in array):</h3>
	<table>
		<thead>
			<tr>
				<th></th>
				<th>Plate</th>
				<th>Color</th>
				<th>Entrance</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="car in cars" ng-class="{selected: car.selected}">
				<td><input type="checkbox" ng-model="car.selected"></td>
				<td><span ng-bind="car.plate"></span></td>
				<td><span ng-bind="car.color"></span></td>
				<td><span ng-bind="car.entrance"></span></td>
			</tr>
		</tbody>
	</table>
	<input type="text" ng-model="car.plate" placeholder="What's the plate?">
	<select ng-model="car.color" ng-options="color for color in colors">
		Pick a color
	</select>
	<button ng-click="park(car)" ng-disabled="!car.plate">Park</button>

	<h3>With animations:</h3>
	<input id="setbtn" type="button" value="set" ng-click="myVar='my-class'">
	<input id="clearbtn" type="button" value="clear" ng-click="myVar=''">
	<br>
	<span class="base-class" ng-class="myVar">Sample Text</span>


</body>
</html>