<!DOCTYPE html>
<!-- ng-app declaramos o modulo a ser utilizado, pode ser passada sem parametro nenhum-->
<!-- para utilizar determinado modulo na aplicação devemos passa-lo como parametro-->
<html lang="pt-br" ng-app="parking">
<head>
	<meta charset="UTF-8">
	<title>Parking Lot</title>
	<script src="angular.js" type="text/javascript"></script>
	<script type="text/javascript">
		// declaramos o nome do modulo
		var parking = angular.module("parking", []);

		// declarando o controller no MODULO PARKING
		parking.controller("parkingCtrl", function ($scope){
			$scope.appTitle = "[Packt] Parking";
			$scope.cars = [
				{plate: '000000', entrance: 'TESTE'},
				{plate: '111111', entrance: 'TESTE2'}
			];
		});
	</script>
</head>
<body ng-controller="parkingCtrl">
	<h3 ng-bind="appTitle"></h3>
	<h3>Iterate use (variable in array):</h3>
	<table>
		<thead>
			<tr>
				<th>Plate</th>
				<th>Entrance</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="car in cars">
				<td><span ng-bind="car.plate"></span></td>
				<td><span ng-bind="car.entrance"></span></td>
			</tr>
		</tbody>
	</table>
	
	<br><br><br>
	<h3>Iterate use ( (key, expression) in array ):</h3>
	<table>
		<thead>
			<tr>
				<th>Index</th>
				<th>First</th>
				<th>Last</th>
				<th>Middle</th>
				<th>Even</th>
				<th>Odd</th>
				<th>Key</th>
				<th>Plate</th>
				<th>Entrance</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="(key, value) in cars">
				<td>{{$index}}</td>
				<td>{{$first}}</td>
				<td>{{$last}}</td>
				<td>{{$middle}}</td>
				<td>{{$even}}</td>
				<td>{{$odd}}</td>
				<td><span ng-bind="key"></span></td>
				<td><span ng-bind="value.plate"></span></td>
				<td><span ng-bind="value.entrance"></span></td>
			</tr>
		</tbody>
	</table>

	<br><br><br>
	<h3>Iterate use start and end-point: (usado para repetir em mais de um elemento html)</h3>

	<div class="menu" ng-repeat-start="(key,value) in cars">
		{{value.plate}}
	</div>

	<div class="content">
		{{value.plate}}
	</div>

	<div class="footer" ng-repeat-end>
		{{value.plate}}
	</div>
</body>
</html>