<!DOCTYPE html>
<!-- ng-app declaramos o modulo a ser utilizado -->
<html lang="pt-br" ng-app="parking">
<head>
	<meta charset="UTF-8">
	<title>Parking Lot</title>
	<script src="angular.js" type="text/javascript"></script>
	<script type="text/javascript">
		// declaramos o nome do modulo
		var parking = angular.module("parking", []);

		// declarando um controller DENTRO DO MODULO PARKIN
		parking.controller("parkingCtrl", function ($scope){
			$scope.cars = [
				{plate: 'ABC1234'},
				{plate: 'DEF5678'},
				{plate: 'GHI9101'}
			];

			$scope.park = function (car){
				$scope.cars.push(angular.copy(car));
				delete $scope.car;
			}
		});
	</script>
</head>
<body ng-controller="parkingCtrl">
	
	<h3>[Packt] Parking</h3>
	<table>
		<thead>
			<tr>
				<th>Plate</th>
			</tr>
		</thead>
		<tbody>
			<tr class="animate-repeat" ng-repeat="car in cars">
				<td>{{car.plate}}</td>
			</tr>
		</tbody>
	</table>
	<input type="text" ng-model="car.plate" />
	<button ng-click="park(car)">Park</button>
</body>
</html>