<div class='alert'>
	<span class='alert-topic'>
		<!-- o ng-bind esta pegando o topic passado na funcao onde a diretiva esta declarada-->
		<span ng-bind="topic"></span>
	</span>
	<span class='alert alert-description'>
		<!-- o ng-bind esta pegando o description passado na funcao onde a diretiva esta declarada-->
 		<span ng-bind="description"></span>
 	</span>
 	<a href="" ng-click="close()">Close</a>
</div>